.nl-button {
  background-color: rgba(41,57,19,0.9);
  color: rgba(255,255,255,0.8);
}
.nl-button:hover {
  background-color: rgb(51,67,19);
  color: rgba(255,255,255,1);
}

.instagram-media {
  margin-left: auto !important;
  margin-right: auto !important;
}
